<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Intro</a>
      <a class="sidebar-nav-item{% if page.url == '/tutorials/' %} active{% endif %}" href="{{ site.baseurl }}/tutorials/">Tutorials</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub repo</a>
      <a class="sidebar-nav-item" href="{{ site.author.url}}">Terence's Site</a>
    </nav>

  </div>
</div>
